<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.mapper.SortMapper">
		<resultMap type="Sort" id="sortResult">
			<id property="id" column="id"/>
			<result property="name" column="name"/>
		</resultMap>
		<insert id="insert" parameterType="Sort">
			insert into sort (name) values (#{name})
		</insert>
		<update id="update" parameterType="Sort">
			update sort set name=#{name} where id=#{id}
		</update>
		<delete id="delete" parameterType="Sort">
			delete from sort where id= #{id}
		</delete>
		<select id="list" resultType="Sort" resultMap="sortResult">
			select * from  sort where 1=1 ${where} order by id desc
			</select>
		<select id="sealist" resultType="Sort" resultMap="sortResult">
			select * from  sort where 1=1 ${where}
			</select>
		<select id="get" parameterType="_int" resultType="Sort">
			select * from  Sort  where id= #{id}
		</select>
			<select id="total" resultType="int">
	        select count(*) from sort
	    </select>
<update id="updatesql"  parameterType="String">
${value}
</update>
<delete id="deletesql"  parameterType="String">
${value}  
</delete>
	</mapper>